.x-action-col-cell img {
    height: 18px;
    width: 17px;
    cursor: pointer;
}
.x-action-col-cell img.icon-information {
    background-image: url(information.png);
}
.x-action-col-cell img.icon-download {
    background-image: url(download.png);
    width: 19px;
}
.x-action-col-cell img.icon-delete {
    background-image: url(delete.png);
}